body {
	display: flex;
	background-color: black;
	max-width: 1200px;
}

#intro {
	height: 300px;
	width: 450px;
	margin: 30px 30px 0 30px;
	font-family: 'Press Start 2P', cursive;
	color: green;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

h1 {
	font-size: 50px;
	height: 100px;
	word-spacing: -.4ch;
}

h3 {
	font-size: 15px;
	height: 30px;
	margin: 0 0 5px 0;
}

p {
	font-size: 10px;
	line-height: 15px;
}

#rules {
	margin-bottom: 45px;
}


#screen {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#my-canvas {
  border: 5px solid green;
  background-color: black;
  z-index: -1;
}

#endgame {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	align-self: center;
}

.canvas-text-styles {
	width: 450px;
	font-size: 25px;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	color: green;
	z-index: 1;
}


#stats {
	height: 100px;
	width: 550px;
	margin: 0 auto;
	display: flex;
	align-self: flex-end;
	justify-content: space-between;
	font-family: 'Press Start 2P', cursive;
	color: green;
}

#time {
	height: 50px;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#lvl, #score {
	height: 50px;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}



